In [1]:
from property_tracker.services.simulate_v2 import SimulationService, PropertyDetails, InvestmentDetails, InvestorType, MortgageCalculator, StampDutyCalculator

property_details = PropertyDetails(
    purchase_price=250000,
    monthly_rent=1200,
    insurance=0,
    service_charge=0,
    ground_rent=100,
    annual_price_appreciation=0.03,
    annual_rent_appreciation=0.02,
)

investment_details = InvestmentDetails(
    down_payment=62500,
    interest_rate=0.045,
    payment_term=20,
    legal_fees=2000,
    refurbishment_cost=3000,
    furnishing_cost=1000,
)

sm = SimulationService()
total_cash_investment, mortgage_payment, yearly_metrics = sm.run_simulation(
    property_details=property_details,
    investment_details=investment_details,
    investor_type=InvestorType.SOLE_TRADER,
    number_of_years=5,
)

print(f"Total cash investment: £{total_cash_investment}")
print(f"Mortgage payment: £{mortgage_payment}")
yearly_metrics

Total cash investment: £76000.0
Mortgage payment: £784.7855466792809

   Year  Gross Yield  Net Yield Rental ROI equity
0     0       0.0576    0.00649      2.13%   £62K
1     1       0.0576    0.00649      2.18%   £80K
2     2       0.0576    0.00649      2.22%   £90K
3     3       0.0576    0.00649      2.27%   £99K
4     4       0.0576    0.00649      2.31%  £108K

In [2]:
property_value = property_details.purchase_price
investor_type = InvestorType.SOLE_TRADER

# Calculate the stamp duty
stamp_duty = StampDutyCalculator.calculate_stamp_duty(property_value, investor_type)
# Calculate the loan amount
loan_amount = investment_details.calculate_loan_amount(property_value)
# Calculate the monthly mortgage payment
mortgage_payment = MortgageCalculator.calculate_monthly_payment(
    loan_amount, investment_details.payment_term, investment_details.interest_rate
)

In [3]:
MortgageCalculator.generate_payment_schedule(
    loan_amount, investment_details.payment_term, investment_details.interest_rate
)

    Year  Interest  Principal    Balance
0      0      0.00       0.00  187500.00
0      1     75.74    8556.90  178943.10
1      2     78.60    9338.83  169604.27
2      3     74.40    9343.03  160261.24
3      4     70.19    9347.24  150914.00
4      5     65.98    9351.44  141562.56
5      6     61.77    9355.65  132206.91
6      7     57.56    9359.86  122847.04
7      8     53.35    9364.08  113482.97
8      9     49.14    9368.29  104114.67
9     10     44.92    9372.51   94742.17
10    11     40.70    9376.73   85365.44
11    12     36.48    9380.95   75984.49
12    13     32.26    9385.17   66599.32
13    14     28.03    9389.39   57209.93
14    15     23.81    9393.62   47816.31
15    16     19.58    9397.85   38418.46
16    17     15.35    9402.08   29016.39
17    18     11.12    9406.31   19610.08
18    19      6.88    9410.54   10199.53
19    20      2.65    9414.78     784.76
20    21      0.03     784.76      -0.00

In [4]:
(10000/76000)/4

0.03289473684210526