In [32]:
from enum import Enum as PyEnum

import pandas as pd


class InvestorType(PyEnum):
    """
    Represents the type of an investor.
    Has implications on the tax treatment of the investor's income.
    """

    SOLE_TRADER = "Sole Trader"
    LIMITED_COMPANY = "Limited Company"
    
def calculate_stamp_duty(value, investor_type: InvestorType):
    def calculate_duty(brackets, rates):
        duty = 0
        for i, limit in enumerate(brackets):
            if value > limit:
                duty += (min(value, brackets[i + 1]) - limit) * rates[i]
            else:
                break
        return duty

    if investor_type == InvestorType.SOLE_TRADER:
        brackets = [0, 250000, 925000, 1500000]
        rates = [0.03, 0.08, 0.13, 0.15]
    elif investor_type == InvestorType.LIMITED_COMPANY:
        brackets = [0, 125000, 250000, 925000, 1500000]
        rates = [0.03, 0.05, 0.08, 0.13, 0.15]

    return calculate_duty(brackets, rates)

In [28]:
import pandas as pd

def mortage_calculator(principal, payment_term, annual_interest_rate):
    """
    Calculate the monthly payment of a mortage

    :param principal: the amount of the loan
    :param payment_term: the term of the loan in years
    :param annual_interest_rate: the annual interest rate
    """

    term_in_months = 12 * payment_term
    monthly_interest_rate = annual_interest_rate / 1200
    monthly_payment = principal * monthly_interest_rate / (1 - (1 + monthly_interest_rate) ** -term_in_months)

    # create a payment schedule
    balance = principal
    payments = []
    for month in range(1, term_in_months + 1):
        interest = balance * monthly_interest_rate
        principal_payment = monthly_payment - interest
        balance -= principal_payment
        payments.append((month, interest, principal_payment, balance))

    payments = pd.DataFrame(payments, columns=['Month', 'Interest', 'Principal', 'Balance'])
    # make the dataframe annual
    payments['Year'] = payments['Month'] // 12 + 1
    payments = payments.groupby('Year').agg({'Interest': 'sum', 'Principal': 'sum', 'Balance': 'last'}).reset_index()
    payments['Total Payment'] = payments['Interest'] + payments['Principal']
    payments['Cumulative Interest'] = payments['Interest'].cumsum()
    payments['Cumulative Principal'] = payments['Principal'].cumsum()
    payments['Cumulative Total Payment'] = payments['Total Payment'].cumsum()

    # decimals to 2
    payments = payments.round(2)

    return monthly_payment, payments

In [29]:
monthly_payment, payments = mortage_calculator(200000, 20, 4.5)

In [30]:
payments

,Year,Interest,Principal,Balance,Total Payment,Cumulative Interest,Cumulative Principal,Cumulative Total Payment,Cumulative Balance
0,1,8142.51,5775.77,194224.23,13918.29,8142.51,5775.77,13918.29,194224.23
1,2,8605.52,6578.07,187646.16,15183.59,16748.03,12353.84,29101.87,381870.39
2,3,8303.32,6880.26,180765.90,15183.59,25051.36,19234.10,44285.46,562636.29
3,4,7987.24,7196.34,173569.56,15183.59,33038.60,26430.44,59469.04,736205.85
4,5,7656.65,7526.94,166042.62,15183.59,40695.25,33957.38,74652.63,902248.47
5,6,7310.86,7872.73,158169.89,15183.59,48006.11,41830.11,89836.21,1060418.36
6,7,6949.19,8234.40,149935.50,15183.59,54955.29,50064.50,105019.80,1210353.86
7,8,6570.90,8612.68,141322.81,15183.59,61526.20,58677.19,120203.38,1351676.67
8,9,6175.24,9008.35,132314.46,15183.59,67701.43,67685.54,135386.97,1483991.14
9,10,5761.39,9422.19,122892.27,15183.59,73462.83,77107.73,150570.55,1606883.41
10,11,5328.54,9855.04,113037.23,15183.59,78791.37,86962.77,165754.14,1719920.64
11,12,4875.80,10307.78,102729.45,15183.59,83667.17,97270.55,180937.72,1822650.09
12,13,4402.26,10781.32,91948.12,15183.59,88069.43,108051.88,196121.31,1914598.21
13,14,3906.97,11276.61,80671.51,15183.59,91976.40,119328.49,211304.89,1995269.72
14,15,3388.93,11794.66,68876.85,15183.59,95365.33,131123.15,226488.48,2064146.57
15,16,2847.08,12336.50,56540.35,15183.59,98212.41,143459.65,241672.06,2120686.92
16,17,2280.34,12903.24,43637.11,15183.59,100492.75,156362.89,256855.65,2164324.03
17,18,1687.57,13496.01,30141.09,15183.59,102180.33,169858.91,272039.23,2194465.12
18,19,1067.57,14116.02,16025.08,15183.59,103247.89,183974.92,287222.82,2210490.20
19,20,419.08,14764.51,1260.57,15183.59,103666.97,198739.43,302406.40,2211750.77
20,21,4.73,1260.57,-0.00,1265.30,103671.70,200000.00,303671.70,2211750.77